body{
    background-image: url("/images/backgroundHouse.png");
}


label,.btn{
   
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color:rgb(11, 6, 6);
  

    
}

form{
  background: linear-gradient(rgba(150, 27, 27, 0.498),rgba(255, 255, 0, 0.321));
  
}


